@font-face
    font-family 'Stellar'
    src url('../fonts/Stellar-Regular.eot')
    src url('../fonts/Stellar-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Stellar-Regular.woff2') format('woff2'), url('../fonts/Stellar-Regular.woff') format('woff'), url('../fonts/Stellar-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'Ubuntu Mono'
    src url('../fonts/UbuntuMono-Regular.eot')
    src url('../fonts/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/UbuntuMono-Regular.woff2') format('woff2'), url('../fonts/UbuntuMono-Regular.woff') format('woff'), url('../fonts/UbuntuMono-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal
