/**
 * Global
 */
body {background:#24262e;font-size:14px;font-family:Helvetica,Arial;color:#f1f5ff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
a {text-decoration:none;}
* {padding:0;margin:0;box-sizing:border-box;}

/**
 * Main header
 */
header.main-header {position:fixed;top:0;left:0;right:0;height:60px;background:#202124;border-bottom:1px solid #32374d;box-shadow:0px 5px 10px rgba(0,0,0,0.1);}
header.main-header a {display:inline-block;padding:0 0 0 20px;line-height:60px;text-transform:uppercase;}

/**
 * Page projects
 */
section.page-projects {padding-top:100px;}
section.page-projects .no-project {text-align:center;padding:180px 0;}
section.page-projects .projects {width:400px;margin:0 auto;background:#202124;box-shadow:0px 5px 10px rgba(0,0,0,0.1);border:1px solid #32374d;}
section.page-projects .projects .title {height:40px;line-height:40px;text-align:center;}
section.page-projects .projects .item {position:relative;padding:0 10px;display:block;line-height:32px;}
section.page-projects .projects .item:after {content:'';display:block;position:absolute;bottom:0;left:0;right:0;height:1px;background:#32374d;opacity:0.4;}
section.page-projects .projects a.item:hover {background:#32374d;}
section.page-projects .projects .item:last-child:after {display:none;}

/**
 * Page projet
 */
section.page-project {position:fixed;top:60px;right:0;bottom:0;left:0;}
section.page-project .aside {position:absolute;top:0;bottom:0;left:0;width:240px;}
section.page-project .aside .aside-header {padding:10px;background:#3b3f4e;}
section.page-project .aside .aside-header .always-last-version-toggle {cursor:pointer;}
section.page-project .aside .aside-header .always-last-version-toggle .switch {display:inline-block;width:12px;height:12px;border:1px solid #f1f5ff;}
section.page-project .aside .aside-header .always-last-version-toggle.active .switch {background:#f1f5ff;}
section.page-project .aside .aside-header .show-differences-toggle {cursor:pointer;}
section.page-project .aside .aside-header .show-differences-toggle .switch {display:inline-block;width:12px;height:12px;border:1px solid #f1f5ff;}
section.page-project .aside .aside-header .show-differences-toggle.active .switch {background:#f1f5ff;}
section.page-project .aside .aside-tree {position:absolute;top:76px;left:0;bottom:0;width:100%;overflow:auto;}
section.page-project section.main {position:absolute;top:0;right:0;bottom:0;left:240px;}
section.page-project section.no-file {position:absolute;top:0;right:0;bottom:0;left:0;}
section.page-project section.file {position:absolute;top:0;right:0;bottom:0;left:0;}
section.page-project section.file .file-header {position:absolute;top:0;right:0;left:0;height:30px;line-height:30px;padding:0 0 0 10px;background:#777;}
section.page-project section.file .versions-nav {position:absolute;top:30px;bottom:0;left:0;width:160px;background:#555;overflow:auto;}
section.page-project section.file .versions-nav .version {display:block;padding:10px;}
section.page-project section.file .versions-nav .version.active {background:#666;}
section.page-project section.file .code {position:absolute;top:30px;right:0;bottom:0;left:160px;overflow:auto;background:#282a36;}
section.page-project section.file .code pre {position:relative;overflow:hidden;}
section.page-project section.file .code pre code {line-height:20px;font-family:monospace;}
section.page-project section.file .code pre code.lines {position:absolute;top:0;left:0;width:38px;padding:0.5em;opacity:0.2;}
section.page-project section.file .code pre code.hljs {margin-left:38px;}
section.page-project section.file .code pre code.differences {position:absolute;top:0;left:38px;padding:0.5em;pointer-events:none;}
section.page-project section.file .code pre code.differences.inactive {display:none;}
section.page-project section.file .code pre code.differences .value {visibility:hidden;}
section.page-project section.file .code pre code.differences span.removed {display:none;border:1px solid red;}
section.page-project section.file .code pre code.differences span.removed .value {display:none;}
section.page-project section.file .code pre code.differences span.added {border:1px solid #b0ea23;background:rgba(176, 234, 35, 0.1);}

.hljs-line-numbers {text-align:right;border-right:1px solid #ccc;color:#999;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/**
 * Files tree nav
 */
nav.files-tree-nav {position:absolute;top:0;left:0;width:100%;}
nav.files-tree-nav li {line-height:24px;cursor:pointer;}
nav.files-tree-nav li > span {display:block;color:#ccc;}
nav.files-tree-nav li.active {background:rgba(255,255,255,0.1);}

nav.files-tree-nav li > span {padding-left:16px;}
nav.files-tree-nav li li > span {padding-left:32px;}
nav.files-tree-nav li li li > span {padding-left:48px;}
nav.files-tree-nav li li li li > span {padding-left:64px;}
nav.files-tree-nav li li li li li > span {padding-left:80px;}
nav.files-tree-nav li li li li li li > span {padding-left:86px;}

nav.files-tree-nav .name {position:relative;display:inline-block;padding-left:20px;}

nav.files-tree-nav i               {position:absolute;top:25%;left:0;display:block;width:12px;height:50%;background:center center no-repeat;}
nav.files-tree-nav i.folder        {background-image:url(../svg/folder.svg);}
nav.files-tree-nav i.folder-active {background-image:url(../svg/folder-active.svg);}
nav.files-tree-nav i.js            {background-image:url(../svg/js.svg);}
nav.files-tree-nav i.html          {background-image:url(../svg/html.svg);}
nav.files-tree-nav i.sass          {background-image:url(../svg/sass.svg);}
nav.files-tree-nav i.less          {background-image:url(../svg/less.svg);}
nav.files-tree-nav i.css           {background-image:url(../svg/css.svg);}
nav.files-tree-nav i.php           {background-image:url(../svg/php.svg);}
nav.files-tree-nav i.json          {background-image:url(../svg/json.svg);}
nav.files-tree-nav i.jade          {background-image:url(../svg/jade.svg);}
nav.files-tree-nav i.md            {background-image:url(../svg/md.svg);}
nav.files-tree-nav i.sql           {background-image:url(../svg/sql.svg);}
nav.files-tree-nav i.apache        {background-image:url(../svg/apache.svg);}
nav.files-tree-nav i.yml           {background-image:url(../svg/yml.svg);}
nav.files-tree-nav i.svg           {background-image:url(../svg/svg.svg);}
nav.files-tree-nav i.font          {background-image:url(../svg/font.svg);}
nav.files-tree-nav i.image         {background-image:url(../svg/image.svg);}
nav.files-tree-nav i.video         {background-image:url(../svg/video.svg);}
nav.files-tree-nav i.audio         {background-image:url(../svg/audio.svg);}
nav.files-tree-nav i.zip           {background-image:url(../svg/zip.svg);}
nav.files-tree-nav i.txt           {background-image:url(../svg/txt.svg);}
nav.files-tree-nav i.coffee        {background-image:url(../svg/coffee.svg);}
nav.files-tree-nav i.git           {background-image:url(../svg/git.svg);}
nav.files-tree-nav i.xml           {background-image:url(../svg/xml.svg);}
nav.files-tree-nav i.twig          {background-image:url(../svg/twig.svg);}
nav.files-tree-nav i.c             {background-image:url(../svg/c.svg);}
nav.files-tree-nav i.random        {background-image:url(../svg/random.svg);}
