<div class="file" :class="[versionsActive ? 'version-active' : '']">
    <header>
        <a href="#" @click.prevent="onDifferencesClick">Differences <span v-if="differencesActive">(on)</span></a>
        <a href="#" @click.prevent="onVersionsClick">Versions <span v-if="versionsActive">(on)</span></a>
        <a :href="downloadUrl" download>Download</a>
        {{ content.path.directory }} {{ content.name }}
    </header>
    <versions :file="content" :content="content.versions" v-if="versionsActive"></versions>
    <viewer :differences-active="differencesActive"></viewer>
</div>