include ../../partials/header.jade

script(type="text/ng-template",id="folder_template.html")
    span(ng-click="folder_click(_folder)")
        i.fa(ng-class="_folder.active ? 'fa-folder-open' : 'fa-folder'")
        | {{_folder.name}}
    ul
        li.folder(ng-repeat="_folder in _folder.folders",ng-include="'folder_template.html'",ng-class="_folder.active ? 'active' : 'inactive'")
        li.file(ng-repeat="(_key,_file) in _folder.files",ng-class="_file.active ? 'active' : 'inactive'")
            span(ng-click="file_click(_file)")
                i.fa.fa-file-text
                | {{_file.name}}
                span.notif
                    |  ({{_file.data.notif}})

section.page-project(ng-controller="ProjectController as controller",ng-init="init('" + project_slug + "')")
    aside.aside
        header.aside-header
            | {{project.name}}
        nav.files-tree-nav
            ul
                li.folder(ng-repeat="_folder in project.tree.folders",ng-include="'folder_template.html'",ng-class="_folder.active ? 'active' : 'inactive'")
    section.file
        header.file-header
            | {{file.name}}
        nav.versions-nav
            a.version(href="#",ng-repeat="_version in file.versions",ng-click="version_click(_version)")
                div.date
                    | {{_version.date}}
                    sup.time-from-now
                        | ({{_version.time_from_now}})
                div.differences
                    | {{_version.diff_percent}}
        section.code
            pre
                code(hljs,hljs-source="version.content")


include ../../partials/footer.jade
