include ../../partials/header.jade

script(type="text/ng-template",id="folder_template.html")
    span(ng-click="folder_click(_folder)",class="folder")
        | {{_folder.name}}
    ul
        li(ng-repeat="_folder in _folder.folders",ng-include="'folder_template.html'",ng-class="_folder.active ? 'active' : 'inactive'")
        li(ng-repeat="_file in _folder.files",ng-class="_file.active ? 'active' : 'inactive'")
            span(ng-click="file_click(_file)")
                | {{_file.name}}

section.page-project(ng-controller="ProjectController as controller",ng-init="init('" + project_slug + "')")
    aside
        header.aside-header
            | {{project.name}}
        nav.files-tree-nav
            ul
                li(ng-repeat="_folder in project.folders",ng-include="'folder_template.html'")
    section.file
        header.file-header
            | {{file.name}}
        nav.versions-nav
            a.version(href="#",ng-repeat="_version in file.versions",ng-click="version_click(_version)")
                div.date
                    | {{_version.date_formated}}
                    sup.time-from-now
                        | ({{_version.time_from_now}})
                div.differences
                    | {{_version.diff_percent}}
        section.code
            pre
                code.html(hljs,hljs-source="version.content")


include ../../partials/footer.jade
