include ../../partials/header.jade

script(type="text/ng-template",id="folder_template.html")
    span(ng-click="folder_click(folder)")
        | {{folder.name}}
    ul
        li(ng-repeat="folder in folder.folders",ng-include="'folder_template.html'")
        li(ng-repeat="file in folder.files",ng-click="file_click(file)")
            | {{file.name}}

section(ng-controller="ProjectController as controller",ng-init="init('" + project_slug + "')")
    header.main-header
        h1
            | Code Spectat
    aside
        header.aside-header
            | {{project.name}}
        nav.aside-nav
            ul
                li(ng-repeat="folder in project.folders",ng-include="'folder_template.html'")
    section.file
        section.historic
            a.version(href="#")
                div.date
                    | 14:23:14
                div.differences
                    | Différences
            a.version(href="#")
                div.date
                    | 14:24:01
                div.differences
                    | Différences
            a.version(href="#")
                div.date
                    | 14:27:42
                div.differences
                    | Différences
        section.code
            pre
                | &lt;html&gt;


include ../../partials/footer.jade
