include ../../partials/header.jade

script(type="text/ng-template",id="folder_template.html")
    span(ng-click="folder_click(_folder)")
        span.name
            i.folder
            | {{_folder.name}}
    ul
        li.folder(ng-repeat="_folder in _folder.folders",ng-include="'folder_template.html'",ng-class="_folder.active ? 'active' : 'inactive'")
        li.file(ng-repeat="(_key,_file) in _folder.files",ng-class="_file.data.active ? 'active' : 'inactive'")
            span(ng-click="file_click(_file)")
                span.name
                    i(ng-class="_file.data.icon")
                    | {{_file.name}}
                span.notif(ng-if="_file.data.notif")
                    |  [{{_file.data.notif}}]
                span.new(ng-if="_file.data.new")
                    |  [new]

section.page-project(ng-controller="ProjectController as controller",ng-init="init('" + project_slug + "')")
    aside.aside
        header.aside-header
            div.name
                | {{project.name}}
            div.always-last-version-toggle(ng-click="always_last_version_toggle_click()",ng-class="always_last_version ? 'active' : 'inactive'")
                .switch
                | always last version
            div.mark-all-as-read(ng-click="mark_all_as_read()")
                | Mark all as read
        .aside-tree
            nav.files-tree-nav
                ul
                    li.folder(ng-repeat="_folder in project.tree.folders",ng-include="'folder_template.html'",ng-class="_folder.active ? 'active' : 'inactive'")
    section.main
        section.no-file(ng-if="!file")
            | No file
        section.file(ng-if="file")
            header.file-header
                span.path
                    | {{file.path.directory}}/
                span.name
                    | {{file.name}}
            nav.versions-nav
                a.version(href="#",ng-repeat="_version in file.versions",ng-click="version_click(_version)",ng-class="_version.active ? 'active' : 'inactive'")
                    div.date
                        | {{_version.date_formated}}
                    div.time-from-now
                        | {{_version.time_from_now}}
                    div.differences
                        | {{_version.diff_percent}}
            section.code
                pre
                   code.lines
                        - var line_index = 1
                        while line_index < 999
                            .line= line_index++
                    code(hljs,hljs-source="version.content")
                        | {{ version.content }}
                    code.differences(ng-if="version.diff")
                        span(ng-repeat="_difference in version.diff",ng-class="{removed: _difference.removed, added: _difference.added}")
                            span.value
                                | {{ _difference.value }}


include ../../partials/footer.jade
