.projects-hub
    position absolute
    top 80px
    left 0
    width 290px
    height 40px
    font-size 14px
    background #2F2E4B
    color #ffffff
    z-index 1
    user-select none

    .single-project
        padding-left 20px
        line-height 40px
        opacity 0.6

    .select-projects
        line-height 22px
        cursor pointer

        .arrow-down
            position absolute
            top 15px
            right 60px

            &.default
                display inline-block
                opacity 0.6

            &.hover
                display none

        .others
            display none
            top 100%
            background #393855

        .project
            padding-top 9px
            padding-bottom 9px
            text-overflow ellipsis

            &.current
                padding-left 20px
                white-space nowrap
                overflow hidden
                padding-right 92px

            &.other-project
                display block
                padding-left 20px

                &:hover
                    color #4bd1c5

        &:hover
            .others
                display block

            .arrow-down
                &.default
                    display none

                &.hover
                    display inline-block

    a.download
        position absolute
        top 0
        right 0
        width 56px
        height 40px
        padding-top 9px
        padding-left 22px

        .icon
            &.default
                display inline-block

            &.hover
                display none

        &:hover
            .icon
                &.default
                    display none

                &.hover
                    display inline-block
