section.features
    padding-top 120px
    text-align center

    .paragraph
        font-weight 300
        font-size 17px
        line-height 22px

    .main-title
        margin-bottom 80px
        font-size 45px

    .intro
        width 520px
        margin 0 auto

        .title
            margin-bottom 30px
            font-size 25px

    .info
        display flex
        align-items center
        width 1024px
        height 550px
        margin-left auto
        margin-right auto
        text-align left

        .text
            width 450px

            .title
                margin-bottom 28px
                font-size 35px

        &.right
            justify-content flex-end