@font-face
    font-family 'Avenir'
    src url('fonts/subset-Avenir-Medium.woff2') format('woff2'), url('fonts/subset-Avenir-Medium.woff') format('woff')
    font-weight 500
    font-style normal

@font-face
    font-family 'Avenir'
    src url('fonts/subset-Avenir-Light.woff2') format('woff2'), url('fonts/subset-Avenir-Light.woff') format('woff')
    font-weight 300
    font-style normal
