section.whos-using-it
    padding-top 120px
    padding-bottom 90px
    text-align center

    .main-title
        margin-bottom 60px
        font-size 45px

    .text
        margin-bottom 40px

        .paragraph
            font-weight 300
            font-size 17px
            line-height 22px

    .items
        width 50%
        margin-right auto
        margin-left auto

        .item
            display inline-block

            &.hetic
                width 100px
                height 120px
                background-image url(../../static/svg/whos-using-hetic.svg)