<div class="chat">
    <header class="header" @click="onHeaderClick">
        Discussions
    </header>
    <div class="content" v-show="open">
        <div class="messages" @scroll="onMessagesScroll">
            <div class="inner-messages">
                <div class="message" v-for="message of messages" :key="message.date">
                    <div class="date">
                        {{ message.time }}
                    </div>
                    <div class="user" :style="`color: ${message.user.color};`">
                        {{ message.user.name }}
                    </div>
                    <div class="text">
                        {{ message.text }}
                    </div>
                </div>
            </div>
        </div>
        <div class="infos" v-if="user">
            Your nickname is <input class="user-name" :style="`color: ${user.color};`" v-model="userName" @change="onUserNameChange($event)" @keydown="onUserNameKeyDown($event)"/>
        </div>
        <div class="message">
            <textarea class="text" v-model="messageText" @keydown="onMessageTextKeyDown($event)"></textarea>
        </div>
    </div>
</div>