.name
    display block
    white-space nowrap

    .icon
        opacity 0.6

    .text
        padding-left 12px
        padding-right 6px

        .letter
            opacity 0.6

            &.highlight
                opacity 1
                font-weight bold

    &:hover
        .icon
            opacity 1

        .text
            color #4bd1c5

            .letter
                opacity 1