<div class="landing" :class="[ focus ? 'focus' : '' ]" @click.prevent="onLandingClick">

    <div class="url" @click.prevent.stop="onUrlClick">
        {{ url }}
    </div>

    <div class="illustration">
        <div class="element star" v-for="star of stars" :style="`left: ${star[0]};top: ${star[1]};animation-delay: ${star[2]};`">
            <span class="bar bar-1"></span>
            <span class="bar bar-2"></span>
        </div>
        <img class="element cloud" src="../../../static/svg/landing-cloud.svg" alt="">
        <img class="element astronaut" src="../../../static/svg/landing-astronaut.svg" alt="">
        <img class="element book" src="../../../static/svg/landing-book.svg" alt="">
    </div>

    <div class="title">
        Welcome to keppler!
    </div>

    <div class="sub-title">
        Here you can browse the presenter's code in real time.
    </div>

    <div class="quote">
        — {{ quote }}
    </div>

    <div class="mask"></div>

    <fireworks :running="fireworksRunning"></fireworks>
</div>