html(ng-app="application")
    head
        title
            | Code Spectat
        script(src="/socket.io/socket.io.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js")
        script(src="/javascript/application/application.js")
        script(src="/javascript/controllers/project.js")
        script(src="/javascript/controllers/projects.js")
        script(src="/javascript/services/project.js")
        script(src="/javascript/services/projects.js")
    body
