html(ng-app="application")
    head
        title
            | Keppler
        script.
            var config = {
                domain : '#{domain}'
            }
        script(src="/vendors/underscore/underscore-min.js")
        script(src="/vendors/underscore/mixins/deep_extend_javascript_objects_underscore_mixin.js")
        script(src="/vendors/highlight/highlight.pack.js")
        script(src="/socket.io/socket.io.js")
        script(src="/vendors/moment.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="/vendors/angular/angular-highlightjs.min.js")
        script(src="/javascript/application/application.js")
        script(src="/javascript/controllers/project.js")
        script(src="/javascript/controllers/projects.js")
        script(src="/javascript/services/project.js")
        script(src="/javascript/services/projects.js")
        script(src="/javascript/models/file_tree.js")

        link(rel="stylesheet",href="/stylesheet/style.css")
        link(rel="stylesheet",href="/vendors/highlight/styles/dracula.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/atom-one-dark.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/gruvbox-dark.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/monokai.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/monokai-sublime.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/obsidian.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/railscasts.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/tomorrow-night.css")

        link(rel="stylesheet",href="/vendors/font-awesome/css/font-awesome.min.css")
    body(class=page_class)
