html(ng-app="application")
    head
        title
            | Keppler
        script.
            var config = {
                domain : '#{domain}'
            }
        script(src="/vendors/underscore/underscore-min.js")
        script(src="/vendors/underscore/mixins/deep_extend_javascript_objects_underscore_mixin.js")
        script(src="/vendors/highlight/highlight.pack.js")
        script(src="/socket.io/socket.io.js")
        script(src="/vendors/moment.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
        script(src="/vendors/angular/angular-highlightjs.min.js")
        script(src="/javascript/application/application.js")
        script(src="/javascript/controllers/project.js")
        script(src="/javascript/controllers/projects.js")
        script(src="/javascript/services/project.js")
        script(src="/javascript/services/projects.js")
        script(src="/javascript/models/file_tree.js")

        link(rel="apple-touch-icon", sizes="180x180", href="images/icons/apple-touch-icon.png")
        link(rel="icon", type="image/png", href="images/icons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="images/icons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="images/icons/manifest.json")
        link(rel="mask-icon", href="images/icons/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="apple-mobile-web-app-title", content="Keppler")
        meta(name="application-name", content="Keppler")
        meta(name="theme-color", content="#ffffff")

        link(rel="stylesheet",href="/stylesheet/style.css")
        link(rel="stylesheet",href="/vendors/highlight/styles/dracula.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/atom-one-dark.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/gruvbox-dark.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/monokai.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/monokai-sublime.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/obsidian.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/railscasts.css")
        //- link(rel="stylesheet",href="/vendors/highlight/styles/tomorrow-night.css")

        link(rel="stylesheet",href="/vendors/font-awesome/css/font-awesome.min.css")
    body(class=page_class)
