html(ng-app="application")
	head
		title
			| Code Spectat
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js")
		script(src="/javascript/application/application.js")
		script(src="/javascript/services/data.js")
	body
		header.main-header
			h1
				| Code Spectat
		aside
			header.aside-header
				| Project name
			nav.aside-nav
				ul
					li
						a(href="#")
							| folder-1
						ul
							li
								a(href="#")
									| folder-1-1
							li
								a(href="#")
									| folder-1-2
							li
								a(href="#")
									| file-1-1
							li
								a(href="#")
									| file-1-2
					li
						a(href="#")
							| folder-2
						ul
							li
								a(href="#")
									| folder-2-1
								ul
									li
										a(href="#")
											| folder-2-1-1
									li
										a(href="#")
											| file-2-1-1
									li
										a(href="#")
											| file-2-1-2
									li
										a(href="#")
											| file-2-1-3
							li
								a(href="#")
									| file-2-1
							li
								a(href="#")
									| file-2-2
							li
								a(href="#")
									| file-2-3
		section.file
			section.historic
				a.version(href="#")
					div.date
						| 14:23:14
					div.differences
						| Différences
				a.version(href="#")
					div.date
						| 14:24:01
					div.differences
						| Différences
				a.version(href="#")
					div.date
						| 14:27:42
					div.differences
						| Différences
			section.code
				pre
					| &lt;html&gt;
		div(ng-controller="ApplicationController as hoy")
			span
				{{ hoy.pwet }}
