// Fonts
@font-face
    font-family 'DINNextRoundedLTPro'
    font-weight 300
    font-style normal
    src url('../../../static/fonts/DINNextRoundedLTPro-Light.otf')

@font-face
    font-family 'DINNextRoundedLTPro'
    font-weight normal
    font-style normal
    src url('../../../static/fonts/DINNextRoundedLTPro-Regular.otf')

// App
#application
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    font-family Helvetica, Arial
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    background #2d2d49

a
    text-decoration none

// Scroll hack
.scroll-hack
    position absolute
    top 0
    left 0
    overflow scroll

// Header
.application-header
    position absolute
    top 0
    left 0
    width 290px
    height 80px
    background #393855
    user-select none

    a
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 100%

    .element
        position absolute

        &.background
            top 0
            left 0

        &.robot-container
            top 17px
            left 46px
            animation header-robot-container 3s alternate infinite ease-in-out

            @keyframes header-robot-container
                0%
                    transform translateX(-5px)
                100%
                    transform translateX(5px)

        &.robot
            animation header-robot 4.15s alternate infinite ease-in-out

            @keyframes header-robot
                0%
                    transform translateY(-3px)
                100%
                    transform translateY(3px)

        &.title
            top 21px
            left 112px

// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display block

body
    line-height 1
    -webkit-text-size-adjust 100%
    -moz-text-size-adjust 100%
    text-size-adjust 100%

ol, ul
    list-style none

blockquote, q
    quotes none

blockquote:before, blockquote:after,
q:before, q:after
    content ''
    content none

table
    border-collapse collapse
    border-spacing 0
    th
        text-align left

*,*::before,*::after,*:before,*:after
    -moz-box-sizing border-box
    -webkit-box-sizing border-box
    box-sizing border-box

input,button,textarea,select
    color inherit
    font-size inherit
    font-style inherit
    font-family inherit
    -webkit-border-radius 0
    border-radius 0
    -webkit-padding-start 0
    align-items flex-start
    text-index 0
    border none
    outline none
    background none
    padding 0
    margin 0
    width auto
    height auto
    line-height 1em

input[type=text],input[type=reset],input[type=password],input[type=search],input[type=email],input[type=tel],input[type=url],input[type=time],input[type=week],input[type=month],input[type=date],input[type=datetime],input[type=datetime-local],input[type=number],
input[type=submit],input[type=reset],input[type=color],input[type=file],
button,textarea,select
    height 1em
    -webkit-appearance none
    -moz-appearance none
    appearance none

input[type=color]
    width 1em

input
    &::-ms-clear
        display none

details, summary
    -webkit-appearance none
    -moz-appearance none
    appearance none

mark
    background none

hr
    height 1px
    margin 0
    padding 0

u
    text-decoration none

a
    color inherit
    outline none