.chat
    position fixed
    bottom 0
    right 123px
    color #fff

.trigger
    position absolute
    bottom 0
    right 0
    height 40px
    padding-left 14px
    padding-right 18px
    line-height 40px
    background #24263A
    font-size 14px
    white-space nowrap
    user-select none

    .stroke
        position absolute
        top 0
        left 0
        right 0
        height 1px
        background #4BD1C5
        display none

    .icon
        margin-left 4px

    .unread
        display inline-block
        position absolute
        top 7px
        left calc(100% - 25px)
        width 20px
        text-align center
        font-size 9px
        line-height 9px
        color #4BD1C5

    &:hover
        .stroke
            display block

.content
    position relative
    background #24263A
    height 450px
    width 300px
    overflow hidden

    .header
        position absolute
        top 0
        left 0
        width 100%
        height 40px
        padding-left 14px
        line-height 40px
        font-size 14px
        user-select none

        .stroke
            position absolute
            top 0
            left 0
            right 0
            height 1px
            background #4BD1C5
            display none

        .dash
            position absolute
            top calc(50% - 1px)
            right 14px
            height 2px
            width 12px
            background #fff

        &:hover
            .stroke
                display block

    .messages
        position absolute
        top 40px
        left 0
        right 0
        height 330px
        padding-top 4px
        overflow-y scroll
        background #393855
        font-size 12px

        .message
            position relative
            padding-left 21px
            margin-bottom 10px

            .stroke
                position absolute
                top 0px
                left 10px
                width 2px
                bottom 2px

            .message-user
                padding-bottom 3px

            .message-date
                display inline-block
                opacity 0
                padding-left 4px
                padding-bottom 3px

            .message-file
                display block
                padding-bottom 3px
                opacity 0.7

                &:hover
                    opacity 1
                    color #4BD1C5

            &:hover
                .message-date
                    opacity 0.4


    .user
        position absolute
        top 374px
        left 0
        font-size 12px
        padding-left 8px

        .user-label
            opacity 0.7
            pointer-events none
            user-select none

        .user-name
            width 185px
            padding-left 1px
            outline none
            border none

            &:hover
                background rgba(255, 255, 255, 0.075)

    .question
        position absolute
        bottom 0
        right 0
        padding 4px
        font-size 12px

        .question-file
            position absolute
            bottom 5px
            right 22px
            opacity 0.7
            white-space nowrap
            pointer-events none

        .remove
            position absolute
            bottom 0
            right 0
            width 20px
            height 20px
            padding-top 4px
            padding-left 3px

            .icon
                &.default
                    display block

                &.hover
                    display none

            &:hover
                .icon
                    &.default
                        display none

                    &.hover
                        display block

    textarea
        position absolute
        bottom 0
        left 0
        font-size 12px
        width 100%
        height 58px
        padding-left 8px
        resize none
        // opacity 0.8