.name
    display block

    .icon
        opacity 0.6

    .text
        padding-left 12px
        opacity 0.6

    &:hover
        .icon
            opacity 1

        .text
            opacity 1
            color #4bd1c5