<div>
    <a href="#" class="name" :style="{ paddingLeft:depth * 20 + 'px' }" @click.prevent="onNameClick">
        <file-icon class="icon" extension="folder-active" v-show="open"></file-icon>
        <file-icon class="icon" extension="folder" v-show="!open"></file-icon>
        <span class="text">
            {{ content.name }}
        </span>
    </a>
    <div v-show="open">
        <files-tree-folder v-for="folder of content.folders" :key="folder.name" :content="folder" :depth="depth + 1"></files-tree-folder>
        <files-tree-file v-for="file of files" :key="file.data.path.full" :content="file" :depth="depth + 1"></files-tree-file>
    </div>
</div>